<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<h1>비밀번호를 잊어 버리셨나요?😥</h1>
<form action="/email/sendPW" id="sendEmail">
  <input type="text" placeholder="이메일을 입력해주세요" id="inputEmail" name="memberEmail">
   <button id="submitBtn" type="button">전송</button>
</form>
<script>
    document.querySelector('#submitBtn').addEventListener('click',function (){
        let userEmail = document.querySelector('#inputEmail').value;
        let sendEmail = document.querySelector('#sendEamil');
        const emailRegex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        if (emailRegex.test(userEmail)){
            $.ajax({
                url: "/member/idCheck",
                data: {
                    "id" : userEmail
                },error: function (){
                    alert('error!');
                }
            }).done( function(rsp){
                if (rsp === 'true'){
                    sendPW();
                }else {
                    alert("해당 이메일의 회원정보가 존재하지 않습니다.");
                }
            })
        }else {
            alert("올바른 이메일 방식을 입력해주세요!");
        }
    })
    // 이메일 임시비밀번호 생성
    let tempPW;
    function getTempPW(){
        $.ajax({
            url: "/email/returnTempPW"
            ,type: "post"
            ,async: false
        }).done(function(rsp){
            tempPW = rsp;
        })
    }

    function sendPW() {
        getTempPW(); // 임시 비밀번호 값
        let subject = "[Buddy] 임시비밀번호 입니다";
        let body = tempPW;
        let userEmail = document.querySelector('#inputEmail').value
        // smtp 파라미터 값
        var params = {
            userId: userEmail,
            subject: subject,
            body: body
        }

        $.ajax({
            url: "/email/sendPW"
            , type: "POST"
            , accept: "application/json"
            , contentType: "application/json; charset=utf-8"
            , data: JSON.stringify(params)
            , dataType: "json"
            ,success: function(){
                alert(`${userEmail} 주소로 임시 비밀번호를 보내드렸습니다!`);
                history.back();
            }
            ,error: function () {
                alert("이메일 전송에 실패하였습니다. 이메일을 다시 확인해주세요.");
                location.reload();
            }
        })
    }
</script>
</body>
</html>